
TMDB_API_KEY="cle-api-tmdb"           # Clé d'API TMDB (à générer sur https://www.themoviedb.org/settings/api)
TMDB_LANGUAGE="fr-FR"                 # Langue par défaut pour les informations (ex: fr-FR, en-US, es-ES)
TMDB_REGION="FR"                      # Région par défaut pour les informations (ex: FR, US, ES)
TMDB_INCLUDE_ADULT=true               # Inclure les films pour adultes dans les résultats (true ou false)

FICHIER_TEMPLATE=./template/template.tmp

# Banière 
INFORMATIONS_GENERALE_URL=https://i.postimg.cc/kgG6LBSX/Informations-generales.png
SYNOPSIS_URL=https://i.postimg.cc/wjMyn7N7/Synopsis.png
DETAILS_TECHNIQUES_URL=https://i.postimg.cc/CLmnvjRf/Details-techniques.png
LANGUES_URL=https://i.postimg.cc/13XnbfFR/Bande-son.png
SOUS_TITRES_URL=https://i.postimg.cc/4xy7jmcf/Sous-titres.png
TELECHARGEMENT_URL=https://i.postimg.cc/mgkzKt9P/Telechargement.png

TEAM_NAME="DEMO"    
